<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="images-folder" value="D:\REPOSITORIOS\Curso_C-_Nivel_2\Nivel 2\Conexiones DB\poke-app\"/>
	</appSettings>
</configuration>